body {
    margin: 0;
    background-color: bisque;
    box-sizing: border-box;
    font-family: sans-serif
}

.encabezado {
    position: fixed;
    background-color: blueviolet;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    /*max-width: 1100px;
    margin: 0;*/
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    background: none;
    padding: 0 40px;
    line-height: 100px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
}

.nav-menu-link {
    background: none;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover {
    background-color: #024070;
    transition-delay: 0.1s;
    transition: 0.5s;
}

header {
    position: fixed;
    /*background-color: blue;*/
    color: Black;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

aside {
    position: fixed;
    background-color: aquamarine;
    color: black;
    top: 100px;
    left: 0;
    bottom: 25px;
    width: 20%;
}

section {
    position: fixed;
    overflow-y: scroll;
    background-color: #656e85;
    color: black;
    top: 100px;
    left: 20%;
    bottom: 25px;
    width: 80%;
    padding: 1%;
}

footer {
    position: fixed;
    background-color: black;
    text-align: center;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    
}

nav a {
    text-decoration: none;
    background-color: green;
    color: white;
}

a:hover {
    background-color: red;
    color: yellow;
}